*{
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(186, 219, 248);
}

header,
footer {
    width: 100;
    height: 120px;
    background-color: cornflowerblue;

    color: lightblue;

    color: midnightblue;
    text-shadow: 
    2px 2px 2px powderblue

}
h1,
h2 {
    text-align: center;

    color: midnightblue;
}
h1 {
    text-shadow:
    2px 2px 2px cyan

    font-family: Arial, Helvetica, sans-serif;
}
.subHeader {
    color: midnightblue;
    text-shadow:
    2px 2px 2px powderblue}
h2 { color: mediumvioletred;
    text-shadow:
    2px 2px 2px lightcoral}
h1 {
    text-shadow:
    2px 2px 2px powderblue

}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    
    font-family: cursive;
    padding-left: 40px;
    font-size: 20px;
    color: mediumvioletred
}

p {
    font-family: "Papyrus", fantasy;
    text-align: center;
    font-size: 30px;
}
.card {
    width: 80%;
    margin: 40px auto;

    border: 5px solid darkblue;
    box-shadow: 5px 10px midnightblue;

    border: 5px solid salmon;
    box-shadow: 5px 10px palevioletred;
    background-color: rgb(252, 222, 222);

}
